@import "vars"

// header
header
	padding: 32px 0
	background: #F3F6FA
	position: relative
	z-index: 2

.btn-burger
	display: none
	align-items: center
	justify-content: center
	stroke: $accent
	width: 24px
	height: 24px
	min-width: 24px

.nav-menu
	margin: 0 auto 0 40px

.menu
	font-size: 16px
	display: flex
	align-items: center
	margin: 0 40px 0 0
	.nav-item
		margin: 0 40px 0 0
		&:last-child
			margin: 0
	.nav-link
		padding: 0
		color: $black
		font-size: 16px
		&:hover
			color: $accent

.link
	display: flex
	align-items: center
	color: $black
	&-icon
		@include d-flex
		fill: none
		stroke: $accent
		width: 20px
		height: 20px
		min-width: 20px
		margin: 0 12px 0 0
		svg
			@include d-flex
	&:hover
		color: $accent
	&:focus, &:active, &.active
		color: #075CBF
	&.disabled, &:disabled
		color: $grey

.phone
	margin: 0 0 0 40px

.btn-search
	width: 20px
	height: 20px
	min-width: 20px
	margin: 0 0 0 20px
	display: none
	align-items: center
	justify-content: center
	fill: none
	stroke: $accent
	&:hover
		stroke: $accent-hover

.header-search-wrapper
	padding: 20px 0
	border-top: 1px solid $accent
	position: absolute
	width: 100%
	left: 0
	top: 100%
	background: #F3F6FA
	z-index: 2
	display: none
	.form-search
		margin: 0
