@import 'fonts'
@import 'vars'

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

blockquote, q
	quotes: none

blockquote:before, blockquote:after, q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 150%
	font-family: $default-font
	font-weight: normal
	background: #F3F6FA
	color: #141414

img
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

a
	display: block
	text-decoration: none
	transition: .3s ease
	outline: none
	width: fit-content

	&:hover, &:focus
		text-decoration: none

input, textarea, select
	outline: none
	box-shadow: none
	appearance: none
	padding: 0 20px
	box-sizing: border-box
	font-family: $default-font
	border: 1px solid transparent
	border-radius: 6px
	width: 100%
	height: 52px
	background: #F3F6FA
	color: $black
	font-size: 15px
	cursor: pointer
	transition: .3s ease
	&::placeholder
		color: $black
	&:hover, &:focus
		outline: none
		box-shadow: none
	&:hover
		background: #EFF3F9
		color: $black
	&:focus, &.active, &:active
		border-color: #D2DAE1
		+ .input-text
			top: 9px
			font-size: 10px
	&.disabled, &:disabled
		opacity: 0.5
	&:valid
		border-color: #D2DAE1
		+ .input-text
			top: 9px
			font-size: 10px

input[type="radio"], input[type="checkbox"]
	width: auto
	height: auto
	appearance: auto
	margin: 0 5px 0 0
	display: inline

.input-text
	color: #707D89
	position: absolute
	left: 0
	top: 16px
	width: 100%
	padding: 0 20px
	transition: .3s ease
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	line-height: normal

.input-clear
	align-items: center
	justify-content: center
	display: none
	top: 14px
	right: 20px
	z-index: 1
	cursor: pointer
	width: 24px
	height: 24px
	min-width: 24px
	position: absolute
	stroke: #707D89
	fill: none
	&:hover
		stroke: $accent
	&:focus, &.active, &:active
		stroke: #075CBF
	&:disabled, &.disabled
		opacity: 0.5

.select-my
	background: transparent url('../img/arrow-select.svg') no-repeat calc(100% - 20px) center
	background-size: 20px
	color: $black
	padding: 0 56px 0 20px
	height: 45px
	&:hover
		background: transparent url('../img/arrow-select-blue.svg') no-repeat calc(100% - 20px) center
		background-size: 20px
		color: $black
	&:focus, &.active, &:active
		border-color: $accent
		background: transparent url('../img/arrow-select-blue.svg') no-repeat calc(100% - 20px) center
		background-size: 20px
		color: $black
	&:disabled, &.disabled
		opacity: 0.5
		background: transparent url('../img/arrow-select.svg') no-repeat calc(100% - 20px) center
		background-size: 20px
		color: $black

label
	display: block
	width: 100%
	margin: 0 0 12px
	position: relative
	overflow: hidden
	&:last-child
		margin: 0

textarea
	resize: none
	padding: 12px 17px
	height: 103px

button, .btn
	outline: none
	transition: .3s ease
	cursor: pointer
	box-shadow: none
	font-family: $default-font
	padding: 0
	margin: 0
	border: none
	border-radius: 0

	&:hover, &:focus
		outline: none
		box-shadow: none

.btn
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	padding: 13px 24px
	font-size: 16px
	font-weight: 500
	border-radius: 6px
	transition: 0.3s ease

.btn-accent
	background: $accent
	color: #fff
	&:hover
		color: #fff
		background: #1368CC
	&:focus, &.active, &:active
		color: #fff
		background: #075CBF
	&.disabled, &:disabled
		background: $accent
		color: #fff
		opacity: 0.5
	.btn-icon
		fill: none
		stroke: #fff

.btn-accent-light
	background: rgba($accent, .06)
	color: $black
	&:hover
		background: rgba($accent, .1)
		color: $black
	.btn-icon
		fill: none
		stroke: $accent

.btn-border
	border-radius: 80px

.btn-border-accent
	border: 1px solid $accent
	color: $accent
	padding: 13px 32px
	&:hover
		background: rgba($accent, .06)
		color: $accent
	&:focus, &.active, &:active
		background: $accent
		color: #fff

	&.disabled, &:disabled
		opacity: 0.5
		border: 1px solid $accent
		color: $accent

.btn-border-grey
	border: 1px solid #D2DAE1
	color: $black

	&:hover
		background: rgba($accent, .06)
		color: $accent
	&:focus, &.active, &:active
		background: $accent
		color: #fff
		.btn-icon
			stroke: #fff
	&.disabled, &:disabled
		opacity: 0.5
		border: 1px solid $accent
		color: $accent
	.btn-icon
		fill: none
		stroke: $accent

.btn-sm
	padding: 11px 24px
	font-size: 14px
	.btn-icon
		width: 20px
		height: 20px
		min-width: 20px
		fill: none

.btn-icon
	width: 24px
	height: 24px
	min-width: 24px
	@include d-flex
	margin: 0 12px 0 0

.btn-clear
	width: 20px
	height: 20px
	min-width: 20px
	margin: 0 0 0 12px

.btn-map
	color: #fff
	background: url('../img/map-btn.jpg') no-repeat center
	background-size: cover
	position: relative
	z-index: 1
	overflow: hidden
	padding: 20px
	&:after
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background: rgba(#141414, .6)
		z-index: -1
		transition: .3s ease
	&:hover
		color: #fff
		&:after
			background: rgba(#141414, .7)
	&:focus, &:active, &.active
		color: #fff
		&:after
			background: rgba(#141414, .8)

.svg-icon
	display: inline-block
	width: 100%
	height: 100%

.btn-group
	flex-wrap: wrap
	.btn
		flex: none
		margin: 0 12px 0 0
		&:last-child
			margin: 0
	.btn-border
		border-radius: 80px

.btn-group>.btn-group:not(:first-child), .btn-group>:not(.btn-check:first-child)+.btn
	margin-left: 0

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn.dropdown-toggle-split:first-child, .btn-group>.btn:not(:last-child):not(.dropdown-toggle), .btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn
	border-radius: 80px

strong, b
	font-weight: bold
	display: inline-block

ul, ol
	padding: 0 0 0 20px

.my-ul
	list-style: none
	padding: 0

.list-dots
	list-style-type: disc

.list-dots-accent
	li
		display: flex
		align-items: flex-start
		&::before
			content: ''
			display: inline-block
			width: 6px
			min-width: 6px
			height: 6px
			background: $accent
			border-radius: 50%
			margin: 9px 10px 0 0

h1, .h1
	width: 100%
	margin: 0 auto 16px
	text-align: center
	font-size: 40px
	line-height: normal
	font-weight: 500

h2, .h2
	text-align: center
	width: 100%
	font-size: 32px
	line-height: normal
	font-weight: 500
	margin: 0 auto 16px

h3, .h3
	width: 100%
	font-weight: 500
	margin: 0 0 8px
	font-size: 24px
	line-height: normal

h4, .h4
	width: 100%
	font-size: 18px
	line-height: 150%
	font-weight: 500
	margin: 0 0 16px

h5, .h5
	font-size: 16px
	line-height: normal
	font-weight: 500
	margin: 0 0 8px
	width: 100%

h6, .h6
	width: 100%
	margin: 0 0 8px
	line-height: normal
	font-size: 14px
	font-weight: 500

.subtitle-text
	width: 100%
	text-align: center
	color: $grey

.container
	padding: 0 12px
	max-width: 1152px

.row
	margin: 0 -12px
	>*
		padding: 0 12px

.mb-12
	margin-bottom: 12px

.mb-16
	margin-bottom: 16px

.mb-24
	margin-bottom: 24px

.mb-48
	margin-bottom: 48px

.m-80
	margin: 80px 0

.p-64
	padding: 64px 0

.color-accent
	color: $accent

a.color-accent
	color: $accent
	&:hover
		color: $grey

.color-grey
	color: $grey

.color-black
	color: $black

.bg-white
	background: #fff

.font-500
	font-weight: 500

.link-accent
	display: flex
	align-items: center
	font-weight: 500
	font-size: 14px
	color: $accent
	.link-icon
		stroke: $accent
	&:hover
		color: #1368CC
		.link-icon
			stroke: #1368CC
	&:focus, &:active, &.active
		color: #075CBF
		.link-icon
			stroke: #075CBF
	&.disabled, &:disabled
		color: $accent
		opacity: 0.5
		.link-icon
			stroke: $accent

.slick-slider
	width: 100%

.slick-slide
	outline: none

.slick-dots
	@include d-flex
	position: relative
	z-index: 1
	opacity: 1
	bottom: 0
	width: 100%
	margin: 24px auto 0
	list-style: none
	padding: 0
	li
		cursor: pointer
		width: 10px
		height: 10px
		border-radius: 50%
		transition: .3s ease
		margin: 0 8px
		position: relative
		z-index: 1
		&::before
			content: ''
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			width: 6px
			height: 6px
			border-radius: 50%
			transition: .3s ease
			background: #D2DAE1
		button
			display: none
		&.slick-active
			&::before
				width: 100%
				height: 100%
				background: $accent

.slick-arrow
	position: absolute
	z-index: 2
	top: 50%
	transform: translate(0,-50%)
	opacity: 1
	outline: none
	width: 48px
	height: 48px
	background: #fff
	border-radius: 50%
	@include d-flex
	padding: 12px
	fill: none
	stroke: $black
	&:hover
		background: $accent
		stroke: #fff

.slick-prev
	left: -72px

.slick-next
	right: -72px

.slick-arrow-my
	width: 20px
	height: 20px
	background: transparent
	padding: 0
	border-radius: 0
	stroke: $grey
	&:hover, &:focus
		background: transparent
		stroke: $accent
	&.slick-prev
		left: 0
	&.slick-next
		right: 0

.slider-nav
	width: 100%
	display: flex
	align-items: center
	margin: 24px 0 0
	.slick-dots
		width: fit-content
		margin: 0 auto
	.slick-arrow
		position: relative
		left: 0
		right: 0
		top: 0
		transform: none
	.slick-next
		order: 1

//checkbox my
.label-checkbox
	position: relative
	display: flex
	align-items: flex-start
	color: $black
	font-size: 16px
	line-height: 150%
	cursor: pointer
	input
		display: none
		&:checked
			+ .label-checkbox__custom
				background: $accent
				border-color: $accent
				&::before
					display: block
	&__text
		span
			color: $grey
			margin: 0 0 0 10px
	&__custom
		width: 18px
		height: 18px
		min-width: 18px
		margin: 2px 13px 0 0
		border: 1px solid #D2DAE1
		border-radius: 2px
		position: relative
		z-index: 1
		&::before
			content: ''
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			width: 10px
			height: 6px
			background: url('../img/checked.svg') no-repeat center
			background-size: 100%

.list-checkbox
	width: 100%
	display: flex
	align-items: flex-start
	flex-wrap: wrap
	li
		margin: 0 32px 0 0
		&:last-child
			margin: 0

.list-radio
	li
		margin: 0 0 16px
		&:last-child
			margin: 0

.label-radio
	display: flex
	align-items: center
	color: #7A859D
	font-size: 14px
	cursor: pointer
	input
		display: none
		&:checked
			+ .label-radio__custom
				&::before
					display: block
	&__custom
		margin: 0 13px 0 0
		width: 18px
		height: 18px
		min-width: 18px
		border-radius: 50%
		border: 1px solid #D2DAE1
		position: relative
		z-index: 1
		&::before
			content: ''
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			border-radius: 50%
			width: 10px
			height: 10px
			background: $accent
			display: none
			transition: .3s ease

.label-radio-type
	position: relative
	z-index: 1
	padding: 10px 24px
	width: fit-content
	margin: 0 8px 0 0
	cursor: pointer
	font-size: 14px
	// line-height: 150%
	color: $accent
	input
		appearance: none
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: -1
		border: 1px solid $accent
		border-radius: 80px
		background: transparent
		&:checked
			background: $accent
			+ .label-radio-type__text
				color: #fff

//checkbox my end

.form-search
	width: 100%
	position: relative
	display: flex
	align-items: flex-start
	label
		width: 100%
		position: relative
		margin: 0 12px 0 0
	[type="submit"]
		min-width: 137px
		white-space: nowrap

.form-search-white
	input
		background: #fff

.btn-search-submit
	.btn-icon
		width: 20px
		height: 20px
		min-width: 20px
		fill: none
		stroke: #fff

.result-search
	display: none
	width: calc(100% - 12px - 137px)
	position: absolute
	left: 0
	top: 100%
	box-shadow: 0 6px 20px rgba(#141414, .08)
	z-index: 1
	background: #fff
	margin: 8px 0 0
	padding: 16px 8px
	border-radius: 6px
	overflow-y: auto
	max-height: 264px

.result-search-catelory
	margin: 0 0 16px
	&:last-child
		margin: 0
	h3
		margin: 0 0 8px
		padding: 0 16px
		font-size: 16px
		color: $black

.list-result-search
	width: 100%
	&__link
		padding: 8px 16px
		color: $black
		width: 100%
		font-size: 16px
		// line-height: 150%
		&:hover
			background: #F3F6FA
			border-radius: 6px
	&__value
		color: $grey

.nav-breadcrumb
	width: 100%
	margin: 0 0 32px

.breadcrumb
	margin: 0
	width: 100%
	font-size: 14px

.breadcrumb-item
	display: flex
	align-items: center
	padding: 0
	+ .breadcrumb-item
		padding: 0
	&::before
		display: none
	&::after
		content: ''
		background: url('../img/arrow-right.svg') no-repeat center
		background-size: 100%
		width: 12px
		height: 12px
		padding: 0
		margin: 0 12px
	a
		color: $grey
		&:hover
			color: $accent
	&.active
		color: $black
		&::after
			display: none

.nav-pagination
	width: 100%
	margin: 24px 0 0

.pagination
	width: 100%
	margin: 0
	display: flex
	align-items: center
	justify-content: center
	border: none
	border-radius: 0
	.page-item
		margin: 0 8px 0 0
		&:last-child
			margin: 0
		&:not(&:first-child)
			.page-link
				margin: 0
	.page-link
		width: 40px
		height: 40px
		min-width: 40px
		background: transparent
		padding: 0
		@include d-flex
		border: none
		border-radius: 6px
		color: #1F2125
		&:focus
			box-shadow: none
		&.active
			background: $accent
			color: #fff
		svg
			fill: none
			stroke: $grey
			width: 24px
			height: 24px

.tooltip-btn
	margin: 0 0 0 12px
	width: 16px
	height: 16px
	min-width: 16px

.tooltip
	opacity: 1 !important

.tooltip-inner
	min-width: 328px
	opacity: 1 !important
	background: #fff
	box-shadow: 0 6px 20px rgba(#141414, .08)
	padding: 16px
	font-size: 14px
	color: $black
	font-family: $default-font
	line-height: 150%
	text-align: left
	border: none
	border-radius: 6px

.tooltip-arrow::before
	display: none

.datepicker
	font-family: $default-font
	.ui-widget
		font-family: $default-font
	.ui-widget.ui-widget-content
		border: none
		border-radius: 0
		padding: 0
		width: 100%
		max-width: none
	.ui-datepicker .ui-datepicker-header
		padding: 0
		border-radius: 0
		border: none
		background: transparent
		width: 100%
		margin: 0 0 24px
		font-weight: 500
		font-size: 24px
		line-height: 130%
		display: flex
		align-items: center
		justify-content: center
	.ui-datepicker-year
		display: none
	.ui-datepicker .ui-datepicker-title
		margin: 0 88px
		line-height: 130%

	.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next
		position: relative
		z-index: 1
		width: 24px
		height: 24px
		min-width: 24px
		left: 0
		top: 0
		right: 0
		bottom: 0
		cursor: pointer
		border: none
		border-radius: 0
		@include d-flex
		span
			display: none
	.ui-datepicker .ui-datepicker-prev
		background: url('../img/left.svg') no-repeat center
		background-size: 100%
	.ui-datepicker .ui-datepicker-next
		order: 1
		background: url('../img/right.svg') no-repeat center
		background-size: 100%
	.ui-datepicker table
		margin: 0
		font-size: 14px
		font-family: $default-font
		line-height: 150%
		font-weight: normal
	.ui-datepicker th
		font-weight: normal
		font-size: 14px
		padding: 0 0 20px
		color: $grey
	.ui-datepicker td
		padding: 2px 0

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
	border: 1px solid transparent
	border-radius: 4px
	margin: 0 auto
	width: 36px
	height: 32px
	@include d-flex
	text-align: center
	background: transparent
	color: $black
	font-size: 14px

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover
	background: #F4F7FC
	border-color: $accent
	color: $accent

.nav-tabs
	width: 100%
	border: none
	border-radius: 0
	.nav-item
		width: 100%
		margin: 0
	.nav-link
		width: 100%
		margin: 0
		border: none
		border-radius: 6px
		padding: 12px 20px
		font-size: 16px
		font-weight: normal
		line-height: 150%
		color: $grey
		text-align: left
		&.active
			color: $accent
			background: rgba($accent, .06)

.tab-content
	width: 100%
	h2
		text-align: left
		margin: 0 0 32px
	h3
		margin: 0 0 24px
	h4
		margin: 0 0 12px
		font-size: 16px
		line-height: 150%
		&:last-child
			margin: 0

.box-text
	p
		margin: 0 0 20px
		&:last-child
			margin: 0
